<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/styles/details.css">
</head>
<body>
    <%- include('includes/nav.ejs') %>
    <main>
        <section class="container">
            <div class="image">
                <img src="<%= dt.image %>" alt="image">
            </div>
            <div class="details">
                <h2 class="primary-title"><%= dt.title %></h1>
                <h3 class="price"><%=  new Intl.NumberFormat('en-IN', { style: 'currency', currency: 'INR'}).format(dt.price)  %></h3> <br>
                <p id="desc">Category: <%= dt.category %></p>
                <p class="description"><%= dt.description %></p>
                <div class="btns">
                    <a  href="/admin/edit-product/<%= dt.id %>?edit=true" id="edit-btn">Edit</a>
                        <form action="/admin/delete" method="post" class="form-del-req">
                            <input type="hidden" name="Id" value="<%= dt.id %>">
                            <button id="del-btn" type="submit">Del</button>
                        </form>
                </div>
            </div>
        </section>
    </main>
</body>